@model PitStopAutoShop.Web.Models.AppointmentViewModel

@{
    Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    ViewData["Title"] = "Appointment";
    ViewData["Controller"] = "Appointment";
    ViewData["Action"] = "Add Appointment";    
}

 <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          
          themeSystem: 'bootstrap',
          timeZone: 'UTC',
          aspectRatio: 1.8,         
          initialView: 'timeGridWeek',
          hiddenDays: [0],
          nowIndicator: true,
            businessHours:[ {
                daysOfWeek: [1,2,3,4,5],
                startTime: '09:00',
                endTime: '18:00'
            },
            {
                daysOfWeek: [6],
                startTime: '09:00',
                endTime: '13:00'
            }
            ],
            customButtons: {
                addAppointment: {
                    text: 'Add Appointment',
                    click: function() {
                    window.location.href = '/Appointment/AddAppointment/';
                    }
                }
            },            
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'timeGridWeek,timeGridDay'
            },
            //footerToolbar: {
            //    right: 'addAppointment'
            //},
            slotLabelInterval: "00:30",
            slotLabelFormat: {
                hour: 'numeric',
                minute: '2-digit',
                omitZeroMinute: false,
                meridiem: false,
                hour12: false
            },
            slotMinTime: "07:00:00",
            slotMaxTime: "20:00:00",
            allDaySlot: false,
            events: @Html.Raw(ViewData["Events"]),   

        });
        calendar.render();
      });
 </script>

<h4 style="text-align:center">Add new Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="EstimateId"/> 
            <input type="hidden" asp-for="CustomerId"/> 
            <input type="hidden" asp-for="VehicleId"/> 
            <input type="hidden" asp-for="CreatedDate" value="@DateTime.Now" />
            <input type="hidden" asp-for="UpdatedDate" value="@DateTime.Now" />
            <input type="hidden" asp-for="CreatedBy" value="@User.Identity.Name" />
            <input type="hidden" asp-for="UpdatedBy" value="@User.Identity.Name" />


            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" asp-items="Model.Technicians" class="form-control"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>

           <div class="form-group">
                <label asp-for="Customer" class="control-label"></label>
                <input asp-for="Customer" value="@Model.Customer.FullName" class="form-control" readonly />
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Vehicle" class="control-label"></label>
                <input asp-for="Vehicle" value="@Model.Vehicle.PlateNumber" class="form-control" readonly />
                <span asp-validation-for="Vehicle" class="text-danger"></span>
            </div>            
            
            <div class="form-group">
                <label asp-for="AppointmentStartDate" class="control-label"></label>
                <input asp-for="AppointmentStartDate" class="form-control" />
                <span asp-validation-for="AppointmentStartDate" class="text-danger"></span>
            </div>            

            <div class="form-group">
                <label asp-for="AppointmentEndDate" class="control-label"></label>
                <input asp-for="AppointmentEndDate" class="form-control" />
                <span asp-validation-for="AppointmentEndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Observations" class="control-label"></label>
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
             
            <div class="form-group" style="margin-top:50px;">
            <input type="submit" value="Add Appointment" class="btn btn-primary" style="margin-right: 10px" />
            <a asp-action="Index" asp-controller="Estimates" class="btn btn-danger">Back to Estimates List</a>
            </div>
        </form>
    </div>
    <div id='calendar' class="col-md-8">

    </div>
</div>




@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
   
}

