@model PitStopAutoShop.Web.Data.Entities.Vehicle

@{
    Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    ViewData["Title"] = "Vehicles";
    ViewData["BreadCrumb"] = "Details";
}

<style>
    .end {
        text-align:end
    }

    .start {
        text-align:start
    }

    .row {
        margin:auto
    }

</style>


<div>
    <hr />
    <h4 style="text-align:center ">Details @Html.DisplayFor(model=> model.Brand.Name) @Html.DisplayFor(model=> model.Model.Name) (@Html.DisplayFor(model=> model.PlateNumber))</h4>
    <hr />
</div>

<div class="container-fluid" style="justify-content:center;max-width:90%; margin-top:50px">    
    
    <div>
      
        <dl class="row">
            <dt class="col-sm-3"></dt>
            <dt class = "col-sm-3 end">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class = "col-sm-3 start">
                @Html.DisplayFor(model => model.Brand.Name)
            </dd>
            <dt class="col-sm-3"></dt>
        </dl>


          <dl class="row">
              <dt class="col-sm-3"></dt>
            <dt class = "col-sm-3 end">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class = "col-sm-3 start">
                @Html.DisplayFor(model => model.Model.Name)
            </dd>
            <dt class="col-sm-3"></dt>
          </dl>

          <dl class="row">
              <dt class="col-sm-3"></dt>
            <dt class = "col-sm-3 end">
                @Html.DisplayNameFor(model => model.DateOfConstruction)
            </dt>
            <dd class = "col-sm-3 start">
                @Html.DisplayFor(model => model.DateOfConstruction)
            </dd>
            <dt class="col-sm-3"></dt>
          </dl>

          <dl class="row">
              <dt class="col-sm-3"></dt>
            <dt class = "col-sm-3 end">
                @Html.DisplayNameFor(model => model.PlateNumber)
            </dt>
            <dd class = "col-sm-3 start">
                @Html.DisplayFor(model => model.PlateNumber)
            </dd>
            <dt class="col-sm-3"></dt>
          </dl>

          <dl class="row">
             <dt class="col-sm-3"></dt>
            <dt class = "col-sm-3 end">
                @Html.DisplayNameFor(model => model.VehicleIdentificationNumber)
            </dt>
            <dd class = "col-sm-3 start">
                @Html.DisplayFor(model => model.VehicleIdentificationNumber)
            </dd>
            <dt class="col-sm-3"></dt>
          </dl>

          <dl class="row">              
            <dt class="col-sm-3"></dt>
            <dt class = "col-sm-3 end">
                @Html.DisplayNameFor(model => model.Horsepower)
            </dt>
            <dd class = "col-sm-3 start">
                @Html.DisplayFor(model => model.Horsepower)
            </dd>
            <dt class="col-sm-3"></dt>
          </dl>
        
    </div>


    <a asp-action="Index" class="btn btn-success"><i class="fas fa-arrow-circle-left"></i> Back to List</a>
</div>
