@model IEnumerable<PitStopAutoShop.Web.Data.Entities.Vehicle>

@{
    Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    ViewData["Title"] = "Vehicles";
}


<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>

<div class="container-fluid">
    <div>
        <table class="hover stripe compact row-border" style="display:inline-table" id="MyTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfConstruction)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlateNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleIdentificationNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Horsepower)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfConstruction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlateNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleIdentificationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horsepower)
                    </td>
                    <td id="@item.Id">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-edit"></i></a> 
                        <a asp-action="Details" asp-route-id="@item.Id"  class="btn btn-warning"><i class="fas fa-list"></i></a> 
                        @if(this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger pull-right" id="btnDelete"><i class="fas fa-trash"></i></a>
                        }                            
                    </td>
                </tr>
        }
            </tbody>
        </table>

    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
       
        $(document).ready(function() {
            $('#MyTable').DataTable({
                columnDefs: [{
                    className: 'dt-center', targets: "_all"
                }]
            });
        });

        $(document).ready(function() {
            
            let id = 0;

            $("a[id*=btnDelete]").click(function() {
                debugger;
                id=$(this).parent()[0].id;
                $("#deleteDialog").modal("show");
                return false;
            });

            $("#btnNoDelete").click(function() {
                $("#deleteDialog").modal("hide");
                return false;
            });

            $("#btnYesDelete").click(function() {
                window.location.href = "/Vehicles/Delete/"+id;
            });

        });

    </script>
}