@model PitStopAutoShop.Web.Models.EmployeeViewModel

@{
    Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    ViewData["Title"] = "Employees";
    ViewData["BreadCrumb"] = "Details";
}

<style>
    .end {
        text-align:end
    }

    .start {
        text-align:start
    }

    .row {
        margin:auto
    }

</style>



<div style="text-align:center">
     <hr />
     <h4>@Model.FirstName @Model.LastName Details</h4>
     <hr />
</div>


<div class="container-fluid" style="justify-content:center;max-width:90%; margin-top:50px">
   
    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            Full Name
        </dt>
        <dd class = "col-sm-3 start">
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>

    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-3 start">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-3 start">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-3 start">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-3 start">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.SpecialtyId)
        </dt>
        <dd class = "col-sm-3 start">           
            @Html.DisplayFor(model => model.Specialties.Where(s=>s.Value == model.SpecialtyId.ToString()).FirstOrDefault().Text)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>  
          
        
    <a asp-action="Index" class="btn btn-success"><i class="fas fa-arrow-circle-left"></i> Back to List</a>   
</div>

