@model PitStopAutoShop.Web.Models.ServiceViewModel

@{
    Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    ViewData["Title"] = "Services";
    ViewData["BreadCrumb"] = "Service Details";
}


<style>
    .end {
        text-align:end
    }

    .start {
        text-align:start
    }

    .row {
        margin:auto
    }

</style>

<div style="text-align:center">
    <hr />
    <h4>@Model.Name Details</h4>
    <hr />
</div>


<div class="container-fluid" style="justify-content:center;max-width:90%; margin-top:50px">
    
    <dl class="row">  
        <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-3 start">
            @Html.DisplayFor(model => model.Name)
        </dd>  
        <dt class="col-sm-3"></dt>
    </dl>

    <dl class="row"> 
        <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-3 start">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>

     <dl class="row"> 
         <dt class="col-sm-3"></dt>
         <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-3 start">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>
     <dl class="row">  
         <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-3 start">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>
     <dl class="row">  
         <dt class="col-sm-3"></dt>
        <dt class = "col-sm-3 end">
            @Html.DisplayNameFor(model => model.PriceWithDiscount)
        </dt>
        <dd class = "col-sm-3 start">           
            @Html.DisplayFor(model => model.PriceWithDiscount)
        </dd>
        <dt class="col-sm-3"></dt>
    </dl>


    <a asp-action="Index" class="btn btn-success"><i class="fas fa-arrow-circle-left"></i> Back to Services List</a>
</div>
